package pages

import (
	"merge/internal/views/components"
	"merge/internal/views/layout"
)

templ IndexPage(baseURL string) {
	@layout.Base("Merge Zone", "Understand your team's review workflow, collaboration, and delivery.", baseURL) {
		<main class="center">
			<div class="hero">
				<h1>Your team. <br/>Any repo.</h1>
				@components.RepoForm("hero-repo-form")
			</div>
		</main>

		<footer class="center-inline">
			<p class="very-dim">
				By <a class="text" href="https://www.haydenheroux.com">Hayden Heroux</a>
				&nbsp;&middot;&nbsp;
				View on <a class="text" href="https://www.github.com/haydenheroux/merge">GitHub</a>
				&nbsp;&middot;&nbsp;
				View on <a class="text" href="https://www.merge.zone/haydenheroux/merge">Merge Zone</a>
			</p>
		</footer>
	}
}
