package pages

import (
	"fmt"

	"merge/internal/model"
	"merge/internal/views/components"
	"merge/internal/views/layout"
)

templ RepoPage(props model.RepoPageProps) {
	@layout.Base(
		fmt.Sprintf("%s/%s", props.Owner, props.Repo),
		fmt.Sprintf("%d fresh pull requests; %d stale pull requests; %d expired pull requests", props.FreshCount, props.StaleCount, props.ExpiredCount),
		props.BaseURL,
        props.Owner,
        props.Repo,
	) {
		<header class="repo-header">
			<div class="stats">
				@components.Stats("fa-code-merge special", props.MergedCount, "merged pull requests")
				@components.Stats("fa-apple-whole ok", props.FreshCount, "fresh pull requests")
				@components.Stats("fa-apple-whole warn", props.StaleCount, "stale pull requests")
				@components.Stats("fa-recycle error", props.ExpiredCount, "expired pull requests")
			</div>
		</header>
		<main class="prs">
            <div class="prs-scroll">
			for _, pr := range props.PRs {
				@components.PRCard(pr)
			}
            </div>
		</main>
	}
}
