package pages

import (
	"fmt"

	"merge/internal/model"
	"merge/internal/views/components"
)

templ LoadMorePRs(
	prs []model.StampedPullRequest,
	owner string,
	repo string,
	nextPage int,
	hasMore bool,
	overallCounts model.ExpiryCounts,
	scopeCounts []model.ScopeInfo,
	scopeSort string,
	contributorCounts []model.ContributorInfo,
	contributorSort string,
    currentPath string,
    scope string,
    contributor string,
    status string,
) {
	for _, pr := range prs {
		@components.PRCard(pr, owner, repo, contributor, status)
	}
	<div id="load-more-card" hx-swap-oob="true">
		if hasMore {
			<div class="item load-more"
				hx-get={ fmt.Sprintf("/%s/%s?page=%d", owner, repo, nextPage) }
				hx-target="#prs-scroll"
				hx-swap="beforeend">
				<i class="fa-solid fa-plus"></i>
				<span>Load more</span>
			</div>
		}
	</div>
	<div id="overview-stats" hx-swap-oob="true">
		@components.Counts(overallCounts, hasMore, owner, repo, nextPage, scope, contributor, status)
	</div>
	<div id="scopes-section" hx-swap-oob="true">
		@components.Scopes(scopeCounts, scopeSort, currentPath, scope, contributor, status)
	</div>
	<div id="contributors-section" hx-swap-oob="true">
		@components.Contributors(contributorCounts, contributorSort, contributor, currentPath, status)
	</div>
}
