package pages

import (
	"merge/internal/model"
	"merge/internal/views/components"
)

templ RepoContent(props model.RepoPageProps) {
	<div class="overview">
        @components.Counts(props.OverallCounts)
    </div>
    @components.Scopes(props.ScopeCounts)
    <section class="prs">
		<p class="section-label">Pull Requests</p>
		<div class="prs-scroll">
		for _, pr := range props.PRs {
			@components.PRCard(pr)
		}
		</div>
	</section>
}
