package pages

import (
	"merge/internal/model"
	"merge/internal/views/components"
)

templ RepoContent(props model.RepoPageProps) {
	<div class="overview" id="overview-stats">
        @components.Counts(props.OverallCounts, props.HasMore, props.Owner, props.Repo, props.CurrentPage + 1)
    </div>
    <aside class="aside-column">
        <div id="scopes-section">
            @components.Scopes(props.ScopeCounts, props.ScopeSort)
        </div>
        <div id="contributors-section">
            @components.Contributors(props.ContributorCounts, props.ContributorSort)
        </div>
    </aside>
    <section class="prs">
		<p class="section-label">Pull Requests</p>
		<div class="prs-scroll" id="prs-scroll">
		for _, pr := range props.PRs {
			@components.PRCard(pr)
		}
		</div>
	</section>
}
