package pages

import (
	"fmt"

	"merge/internal/model"
	"merge/internal/views/layout"
	"merge/internal/views/components"
)

templ RepoPage(props model.RepoPageProps) {
	@layout.Base(
		fmt.Sprintf("%s/%s", props.Owner, props.Repo),
		fmt.Sprintf("%d fresh pull requests; %d stale pull requests; %d expired pull requests", props.OverallCounts.FreshCount, props.OverallCounts.StaleCount, props.OverallCounts.ExpiredCount),
		props.BaseURL,
        props.Owner,
        props.Repo,
	) {
        @components.Counts(props.OverallCounts)
        <section class="stats">
            for scope, counts := range props.ScopeCounts {
                <p class="section-label">{ scope }</p>
                <div class="stats-tiles">
                    @components.Count("fa-code-merge special", counts.MergedCount, "merged")
                    @components.Count("fa-apple-whole ok", counts.FreshCount, "fresh")
                    @components.Count("fa-apple-whole warn", counts.StaleCount, "stale")
                    @components.Count("fa-recycle error", counts.ExpiredCount, "expired")
                </div>
            }
        </section>
		<section class="prs">
            <p class="section-label">Pull Requests</p>
            <div class="prs-scroll">
			for _, pr := range props.PRs {
				@components.PRCard(pr)
			}
            </div>
		</section>
	}
}
