package pages

import (
	"merge/internal/model"
	"merge/internal/views/components"
)

templ RepoContent(props model.RepoPageProps) {
	<section class="stats">
		@components.Stats("fa-code-merge special", props.MergedCount, "merged")
		@components.Stats("fa-apple-whole ok", props.FreshCount, "fresh")
		@components.Stats("fa-apple-whole warn", props.StaleCount, "stale")
		@components.Stats("fa-recycle error", props.ExpiredCount, "expired")
	</section>
	<section class="prs">
		<div class="prs-scroll">
		for _, pr := range props.PRs {
			@components.PRCard(pr)
		}
		</div>
	</section>
}
