package components

import "merge/internal/model"

templ Contributors(contributors []model.ContributorInfo) {
    <section class="contributors">
        <p class="section-label">Contributors</p>
        <div class="contributors-container">
            for _, info := range contributors {
                @Contributor(info)
            }
        </div>
    </section>
}
