package main

templ Nav() {
	<nav class="top-nav">
		<a href="/" class="nav-brand title" data-text="Merge Zone">Merge Zone</a>
		<button class="nav-toggle" aria-label="Toggle repo search" type="button">
			<i class="fa-solid fa-search"></i>
		</button>
		<div class="nav-form-wrapper">
			@RepoForm("nav-repo-form")
		</div>
	</nav>
}
