package main

import "fmt"

templ RepoPage(props RepoPageProps) {
	@Base(
		fmt.Sprintf("%s/%s", props.Owner, props.Repo),
		fmt.Sprintf("%d fresh pull requests; %d stale pull requests; %d expired pull requests", props.FreshCount, props.StaleCount, props.ExpiredCount),
		props.BaseURL,
	) {
		<header>
			<div class="bar tight">
				<h1 class="title inline"><a href={ fmt.Sprintf("https://github.com/%s/%s", props.Owner, props.Repo) }>{ props.Owner }/{ props.Repo }</a></h1>
				<a href={ fmt.Sprintf("https://github.com/%s/%s/pulls", props.Owner, props.Repo) } aria-label="Navigate to GitHub"><i class="fa-brands fa-github-alt" aria-hidden="true"></i></a>
			</div>
			<div class="stat-card-container very-dim">
				<span class="card stat-card">
					<i class="fa-solid fa-code-merge special"></i>
					<b class="count dim">{ formatNumber(props.MergedCount) }</b> 
					<p>merged pull requests</p>
				</span>
				<span class="card stat-card">
					<i class="fa-solid fa-apple-whole ok"></i>
					<b class="count dim">{ formatNumber(props.FreshCount) }</b>
					<p>fresh pull requests</p>
				</span>
				<span class="card stat-card">
					<i class="fa-solid fa-apple-whole warn"></i>
					<b class="count dim">{ formatNumber(props.StaleCount) }</b>
					<p>stale pull requests</p>
				</span>
				<span class="card stat-card">
					<i class="fa-solid fa-recycle error"></i>
					<b class="count dim">{ formatNumber(props.ExpiredCount) }</b>
					<p>expired pull requests</p>
				</span>
			</div>
		</header>
		<main class="grid">
			for _, pr := range props.PRs {
				<div class="card pull-request" data-draft={ fmt.Sprintf("%t", pr.IsDraft) }>
					<div class="center-inline">
						<div class="center">
							<i class={ fmt.Sprintf("status-icon fa-solid %s", getStatusClass(pr)) }></i>
						</div>
						<a href={ pr.URL }><b class="title">@Markdown(pr.Title)</b></a>
						<button class="push-right button-toggle button-inline" aria-label="Show Description">
							<i class="dim fa-solid fa-chevron-down" aria-hidden="true"></i>
						</button>
					</div>
					<div class="very-dim">
						<span>
							{ pr.State }
							&nbsp;&middot;&nbsp;
							{ formatNumber(pr.DaysOpen) } days { getAgeLabel(pr.State) }
							&nbsp;&middot;&nbsp;
							#{ formatNumber(pr.Number) }
							&nbsp;&middot;&nbsp;
							<a href={ pr.Author.URL }>{ pr.Author.Name }</a>
						</span>
					</div>
					<span class="pr-body" style="display: none;">@Markdown(pr.Body)</span>
				</div>
			}
		</main>
		<script>
			document.querySelectorAll('.button-toggle').forEach(button => {
				button.addEventListener('click', function() {
					const prBody = this.closest('.pull-request').querySelector('.pr-body');
					const hasBody = prBody && prBody.innerHTML.length > 0;

					const icon = this.querySelector('i');

					if (icon.classList.contains('fa-chevron-down')) {
						icon.classList.replace('fa-chevron-down', 'fa-chevron-up');
						if (hasBody) {
							prBody.style.display = 'block';
						}
					} else {
						icon.classList.replace('fa-chevron-up', 'fa-chevron-down');
						if (hasBody) {
							prBody.style.display = 'none';
						}
					}
				});
			});
		</script>
	}
}