package main

templ Stats(iconClass string, count int, label string) {
	<span class="card stat-card">
		<i class={ "status-icon fa-solid " + iconClass }></i>
		<b class="count dim">{ formatNumber(count) }</b>
		<p>{ label }</p>
	</span>
}
