package components

import (
	"merge/internal/model"
)

templ Counts(counts model.ExpiryCounts) {
	<section class="stats">
		<div class="section-heading">
            <span>Overview</span>
        </div>
		<div class="stats-tiles">
			@Count("fa-seedling ok", counts.FreshCount, "fresh")
			@Count("fa-leaf warn", counts.StaleCount, "stale")
			@Count("fa-skull error", counts.ExpiredCount, "expired")
			@Count("fa-code-merge special", counts.MergedCount, "merged")
		</div>
	</section>
}
