package components

import "merge/internal/model"

templ Scopes(scopes []model.ScopeInfo) {
    <section class="scopes">
		<div class="section-heading">
            <span>Scopes</span>
            <span class="buttons">
                <span>Top</span>
                <span>Recent</span>
            </span>
        </div>
        <div class="scopes-container">
            for _, info := range scopes {
                @Scope(info)
            }
        </div>
    </section>
}
