@use 'variables' as *;

$avatar-size: 2rem;
$count-width: 4rem;

section.contributors {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.contributors-container {
  display: grid;
  grid-template-columns: auto;
  gap: $spacing-2;
  border-radius: $card-border-radius;
  min-height: 0;
  overflow-y: auto;
}

.contributor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-4;
  height: min-content;

  &:hover {
      background-color: $color-talc;

      .status-icon {
          transform: rotate($rotate-hover) scale($scale-hover);
      }
  }

  .aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-3;
    // FIXME This extremely hacky
    max-width: 8rem;
  }

  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-1;
  }

  a.title {
    margin-block: 0;
    color: inherit;
  }

  .age {
    margin-block: 0;
    color: $color-beige;
  }

  .counts {
    display: grid;
    grid-template-columns: repeat(2, $count-width);
    width: min-content;

    & > .stat {
      // min-width: $contributor-count-min-width;
      min-width: unset;
      border-radius: $card-border-radius;
      column-gap: $spacing-3;
      grid-template-columns: repeat(2, min-content);
      grid-template-rows: max-content;

      .status-icon {
          margin-top: calc(#{$status-icon-margin-top-factor} * #{$text-xs});
          font-size: $text-xs;
      }

      b {
        font-size: $text-md;
      }
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .counts {
    grid-template-columns: repeat(4, $count-width);
  }
}

@media (min-width: $breakpoint-desktop) {
  .contributors-container {
    grid-template-columns: 1fr;
  }
}
