@use 'variables' as *;

.scroll-content {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    border-radius: $card-border-radius;
}

@media (min-width: $breakpoint-desktop) {
    .scroll-content {
        flex: 1;
        min-height: 0;
    }
}
