@use 'variables' as *;

.prs {
    display: flex;
    flex-direction: column;

    .prs-scroll {
        border-radius: $card-border-radius;
        display: flex;
        flex-direction: column;
        gap: $spacing-2;
    }
}

@media (min-width: $breakpoint-desktop) {
    .prs {
        flex: 1;
        min-height: 0;
        overflow: hidden;

        .prs-scroll {
            flex: 1;
            min-height: 0;
        }
    }
}
