@use 'variables' as *;
@use 'separator';

$pr-grid-rows: 2;
$pr-description-grid-column: 2;
$list-item-gap: 0.4rem;

.pull-request {
    cursor: pointer;

    .pull-request-header {
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: min-content min-content;
        row-gap: $spacing-1;
        column-gap: $spacing-3;
    }

    &:hover .status-icon {
        transform: rotate($rotate-hover-large) scale($scale-hover);
    }

    .icon {
        grid-row: span $pr-grid-rows / span $pr-grid-rows;
        display: flex;
        align-items: center;
        justify-content: center;

        .status-icon {
            font-size: calc($text-xs * #{$status-icon-font-size-factor});
        }
    }

    .title-row {
        display: flex;
        color: $color-warm-950;

        .title p {
            line-height: $line-height-subheading;
            margin-block: $spacing-0;
        }
    }

    .description-row {
        grid-column-start: $pr-description-grid-column;
        color: $color-warm-900;
        display: flex;

      @include separator.dot-separator;
    }

    .pr-body {
        display: none;
    }
}
