@use 'variables' as *;

$count-width: 4rem;

section.scopes {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.scopes-container {
  display: grid;
  grid-template-columns: auto;
  gap: $spacing-2;
  border-radius: $card-border-radius;
  min-height: 0;
  overflow-y: auto;
}

.scope {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-4;
  height: min-content;

  &:hover {
      background-color: $color-talc;

      .status-icon {
          transform: rotate($rotate-hover) scale($scale-hover);
      }
  }

  .aside {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-1;
  }

  .title {
    font-size: $text-sm;
    margin-block: 0;
  }

  .age {
    margin-block: 0;
    color: $color-beige;
  }

  .counts {
    display: grid;
    gap: $spacing-1;
    grid-template-columns: repeat(2, $count-width);
    width: min-content;

    & > .stat {
      min-width: unset;
      border-radius: $card-border-radius;
      column-gap: $spacing-3;
      grid-template-columns: repeat(2, min-content);
      grid-template-rows: max-content;

      .status-icon {
          margin-top: calc(#{$status-icon-margin-top-factor} * #{$text-xs});
          font-size: $text-xs;
      }

      b {
        font-size: $text-sm;
      }
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .counts {
    grid-template-columns: repeat(4, $count-width);
  }
}

@media (min-width: $breakpoint-desktop) {
  .scopes-container {
    grid-template-columns: 1fr;
  }
}
