@use 'variables' as *;

$scope-count-min-width: 4rem;

.scopes-container {
  display: grid;
  grid-template-columns: auto;
  gap: $spacing-3;
}

.scope {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-4;

  &:hover {
      background-color: $color-talc;

      .status-icon {
          transform: rotate($rotate-hover) scale($scale-hover);
      }
  }

  .title {
    margin-block: 0;
  }

  .counts {
    display: grid;
    gap: $spacing-2;
    grid-template-columns: repeat(2, auto);
    width: min-content;

    & > .stat {
      min-width: $scope-count-min-width;
      border-radius: $card-border-radius;
      column-gap: $spacing-3;
      grid-template-columns: repeat(2, min-content);
      grid-template-rows: max-content;

      .status-icon {
          margin-top: calc(#{$status-icon-margin-top-factor} * #{$text-sm});
          font-size: $text-sm;
      }

      b {
        font-size: $text-md;
      }
    }
  }
}

// TODO Auto-calculate number of columns based on optimal min/max width

@media (min-width: $breakpoint-mobile) {
  .scopes-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counts {
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: $breakpoint-desktop) {
  .scopes-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
