@use 'variables' as *;

$count-width: 4rem;

section.scopes {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.scope-notice {
  font-size: $text-xs;
  color: $color-warm-800;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: inherit;
  }
}

.scopes-container {
  display: grid;
  grid-template-columns: auto;
  gap: $spacing-2;
  border-radius: $card-border-radius;
  min-height: 0;
}

.scope {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto min-content;
  gap: $spacing-4;
  height: min-content;
  cursor: pointer;

  .text {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: row;
    column-gap: $spacing-1;
  }

  .title {
    color: $color-warm-950;
    font-size: $text-sm;
    margin-block: 0;
  }

  .age {
    margin-block: 0;
    color: $color-warm-900;
  }

  .counts {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-3;
    width: min-content;

    & > .stat {
      min-width: unset;
      column-gap: $spacing-2;
      grid-template-columns: repeat(2, min-content);
      grid-template-rows: max-content;

      .status-icon {
          margin-top: calc(#{$status-icon-margin-top-factor} * #{$text-xs});
          font-size: $text-xs;
      }

      b {
        font-size: $text-sm;
      }

      &:hover {
        background-color: $color-warm-cutout;
      }
    }
  }
}


@media (min-width: $breakpoint-mobile) {
  .scopes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $breakpoint-desktop) {
  .scopes-container {
    grid-template-columns: 1fr;
  }

  .scope {
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
    align-items: center;

    .counts {
      grid-area: 1 / 2 / span 1 / span 1;
      grid-template-columns: repeat(2, 1fr);
      row-gap: $spacing-0;
    }
  }
}
