@use 'variables' as *;
@use 'separator';
@use 'silver-link';

section {
    background-color: $color-oat;
    padding: $spacing-3;
    border-radius: calc($card-border-radius + $spacing-1);
}

.section-heading {
    font-size: $text-xxs;
    color: $color-brown;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-label;
    font-weight: $font-weight-bold;
    margin-inline: $spacing-1;
    margin-top: $spacing-2;
    margin-bottom: $spacing-3;
    display: flex;
    justify-content: space-between;

    .buttons {
      display: flex;
      align-items: center;
      gap: $spacing-2;

      button {
        font-size: $text-xxs;
        color: $color-brown;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-label;
        font-weight: $font-weight-bold;

      }

      [data-active-sort="true"], button:hover {
        text-decoration: underline;
        text-decoration-color: $color-beige;
        text-decoration-thickness: $border-width-default;
        text-underline-offset: $border-width-default;
      }
    }
}
