@use 'variables' as *;
@use 'silver-link';
@use 'base';

nav, section {
    padding: $spacing-4;
}

.section-heading {
    @include base.label-font;
    margin-inline: $spacing-1;
    margin-block: $spacing-1 $spacing-3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
        display: flex;
        align-items: center;
        gap: $spacing-2;

        button, .link-button {
            @include base.label-font(var(--color-text-muted));
            padding: 0;
        }

        button:hover, .link-button:hover {
            color: $color-950;
        }

        [data-active-sort="true"] {
            color: $color-950;
            text-decoration: underline;
            text-decoration-color: $color-700;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px;
        }
    }
}
