@use 'variables' as *;
@use 'separator';
@use 'silver-link';

nav, section {
  padding: $spacing-4;
}

.section-heading {
    font-size: $text-xxs;
    color: $color-900;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-label;
    font-weight: $font-weight-bold;
    margin-inline: $spacing-1;
    margin-block: $spacing-1 $spacing-3;
    display: flex;
    justify-content: space-between;

    .buttons {
      display: flex;
      align-items: center;
      gap: $spacing-2;

      button, .link-button {
        font-family: inherit;
        font-size: $text-xxs;
        color: $color-800;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-label;
        font-weight: $font-weight-bold;
        padding: 0;
      }

      button:hover, .link-button:hover {
        color: $color-950;
      }

      [data-active-sort="true"] {
        color: $color-900;
        @include silver-link.silver-link-thin;
      }
    }
}
