@use 'variables' as *;

$stat-grid-columns: 2;
$stat-grid-rows: 2;
$stat-icon-col: 1;
$stat-icon-row: 1;
$stat-count-col: 2;
$stat-count-row: 1;

.stat {
    cursor: pointer;
    padding: $spacing-0;
    /* padding: $spacing-2 $spacing-3; */
    border-radius: $inline-border-radius;
    display: grid;
    column-gap: $spacing-3;
    row-gap: $spacing-2;
    grid-template-columns: repeat($stat-grid-columns, min-content);
    grid-template-rows: repeat($stat-grid-rows, max-content);
    justify-content: center;

    & > * {
        align-self: center;
        justify-self: center;
    }

    $stat-font-size: $text-xl;
    $stat-icon-size: $text-lg;

    .status-icon {
        grid-column-start: $stat-icon-col;
        grid-row-start: $stat-icon-row;
        margin-top: calc(#{$status-icon-margin-top-factor} * #{$stat-icon-size});
        font-size: $stat-icon-size;
    }

    &:hover {
        background-color: $color-cutout;

        .status-icon {
            transform: rotate($rotate-hover) scale($scale-hover);
        }
    }

    .status-icon:hover {
        transform: scale($scale-hover);
    }

    p {
        text-transform: uppercase;
        font-size: $text-xxs;
        color: $color-900;
        grid-column: span $stat-grid-columns / span $stat-grid-columns;
        margin-block: 0;
    }

    b {
        font-size: $stat-font-size;
        color: $color-950;
        grid-column-start: $stat-count-col;
        grid-row-start: $stat-count-row;
    }

    .small {
      font-size: $text-xs;
      color: $color-900;
      margin-top: $spacing-1;
    }
}

.stats-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: $body-width-full;
    gap: $spacing-2;
}
