package components

templ RepoForm(formID string) {
	<form id={ formID } class="repo-form dim">
        <input
            type="text"
            class="owner-input"
            placeholder="owner"
            required
            aria-label="Search your team"
        />
        <span class="bold">/</span>
        <input
            type="text"
            class="repo-input"
            placeholder="repo"
            required
            aria-label="Search your repositories"
        />
        <button type="submit" aria-label="Submit">
            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
        </button>
	</form>
}
