package components

import (
	"fmt"
	"merge/internal/model"
)

templ Contributor(info model.ContributorInfo) {
    <div class="item contributor">
        <div class="aside">
            <img class="avatar" src={ info.AvatarURL } alt={ fmt.Sprintf("%s's avatar", info.Name) }/>
            <div class="text">
                <a class="title" href={ info.URL }>{ info.Name }</a>
                <p class="age">{ info.NewestPRAge }</p>
            </div>
        </div>
        <div class="counts">
            @InlineCount("fa-code-merge special", info.Counts.MergedCount)
            @InlineCount("fa-apple-whole ok", info.Counts.FreshCount)
            @InlineCount("fa-apple-whole warn", info.Counts.StaleCount)
            @InlineCount("fa-recycle error", info.Counts.ExpiredCount)
        </div>
    </div>
}
