package components

import (
	"strings"

	"merge/internal/model"
	"merge/internal/views/helpers"
)

templ Contributor(info model.ContributorInfo, currentPath, currentContributor, status string) {
    {{ contributorURL := helpers.StripQueryParam(currentPath, "contributor")
    contributorURL = helpers.StripQueryParam(contributorURL, "status")
    q := []string{}
    q = append(q, "contributor="+info.Name)
    if status != "" {
        q = append(q, "status="+status)
    }
    contributorURL += "?" + strings.Join(q, "&")
    }}
    <div class={ "item contributor", templ.KV("active", info.Name == currentContributor) } hx-get={ templ.SafeURL(contributorURL) } hx-target="main" hx-push-url="true">
        <img class="avatar" src={ info.AvatarURL } alt={ info.Name + "'s avatar" }/>
        <div class="text">
            <span class="title">{ info.Name }</span>
            <p class="age">{ info.NewestPRAge }</p>
        </div>
    </div>
}
