package components

import (
	"fmt"
)

templ Count(iconClass string, count int, label string, url string, active bool) {
	if url != "" {
		<div class={ "item stat", templ.KV("active", active) }
			hx-get={ templ.SafeURL(url) }
			hx-target="main"
			hx-push-url="true">
			<p class="bold">{ label }</p>
			<i class={ "status-icon fa-solid " + iconClass }></i>
			<b>{ fmt.Sprintf("%d", count) }</b>
		</div>
	} else {
		<div class={ "item stat", templ.KV("active", active) }>
			<p class="bold">{ label }</p>
			<i class={ "status-icon fa-solid " + iconClass }></i>
			<b>{ fmt.Sprintf("%d", count) }</b>
		</div>
	}
}

templ InlineCount(iconClass string, count int) {
	<div class="stat">
		<i class={ "status-icon fa-solid " + iconClass }></i>
		<span class="bold small">{ fmt.Sprintf("%d", count) }</span>
	</div>
}
