package components

templ FilterPanel() {
	<div class="filter-panel bottom-sheet" id="filter-panel">
		<div class="filter-panel-header">
			<span>Filter</span>
			<button class="button-toggle" id="filter-close" aria-label="Close filters">
				<i class="fa-solid fa-xmark" aria-hidden="true"></i>
			</button>
		</div>
		<div class="filter-panel-body">
		</div>
	</div>
}
