package components

templ Nav() {
	<nav id="nav">
		<a href="/"><p class="serif bold">Merge Zone</p></a>
		<button id="nav-toggle" aria-label="Toggle repo search" type="button">
			<i class="fa-solid fa-search"></i>
		</button>
		<div class="nav-form-wrapper">
			@RepoForm("nav-repo-form")
		</div>
	</nav>
}
