package components

templ RepoForm(formID string) {
	<form id={ formID } class="repo-form">
        <span class="input-pill">
            <input
                type="text"
                class="serif title-input owner-input"
                placeholder="facebook"
                required
                aria-label="Search your team"
                autofocus
            />
        </span>
        <span class="serif bold title-sep">/</span>
        <span class="input-pill">
            <input
                type="text"
                class="serif title-input repo-input"
                placeholder="react"
                required
                aria-label="Search your repositories"
            />
        </span>
        <button type="submit" aria-label="Submit">
            <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        </button>
	</form>
}
