package components

import "fmt"
import "merge/internal/model"

templ Scope(info model.ScopeInfo, currentPath string) {
    <div class="item scope">
        <div class="text">
            <a class="title" href={ fmt.Sprintf("%s/%s", currentPath, info.Name) }>{ info.Name }</a>
            <p class="age">{ info.NewestPRAge }</p>
        </div>
        <div class="counts">
            @InlineCount("fa-seedling ok", info.Counts.FreshCount)
            @InlineCount("fa-leaf warn", info.Counts.StaleCount)
            @InlineCount("fa-skull error", info.Counts.ExpiredCount)
            @InlineCount("fa-code-merge special", info.Counts.MergedCount)
        </div>
    </div>
}
