package components

import "merge/internal/model"

templ Scopes(scopes []model.ScopeInfo) {
    <section class="scopes">
        <p class="section-label">Scopes</p>
        <div class="scopes-container">
            for _, info := range scopes {
                @Scope(info)
            }
        </div>
    </section>
}
