package components

import "merge/internal/model"

templ Sidebar(filters model.FilterSet, scopeCounts []model.ScopeInfo, scopeSort string, contributorCounts []model.ContributorInfo, contributorSort string) {
	<aside class="aside-column">
		@Nav(filters.Owner, filters.Repo, filters.Scope)
		<div class="scroll">
			<div id="scopes-section">
				@Scopes(scopeCounts, scopeSort, filters)
			</div>
			<div id="contributors-section">
				@Contributors(contributorCounts, contributorSort, filters)
			</div>
		</div>
		<footer>
			<span>Created by <a class="bold" href="https://www.haydenheroux.com">Hayden Heroux</a></span>
			<span>View on <a class="bold" href="https://www.github.com/mergezone/mergezone">GitHub</a></span>
			<span>View on <a class="bold" href="https://www.merge.zone/mergezone/mergezone">Merge Zone</a></span>
		</footer>
	</aside>
}
