package components

import (
	"fmt"

	"merge/internal/model"
	"merge/internal/views/helpers"
)

templ Scope(info model.ScopeInfo, filters model.FilterSet) {
    {{ scopeURL := filters.WithScope(info.Name).URL() }}
    <div class={ "item scope sidebar-card", templ.KV("active", info.Name == filters.Scope) } href={ templ.SafeURL(scopeURL) } hx-get={ templ.SafeURL(scopeURL) } hx-target="main" hx-push-url="true">
        <div class="text">
            <span class="title">{ info.Name }</span>
        </div>
        <div class="meta">
            <span class="age">
                @AgeStr(info.NewestPRAge)
            </span>
            <span class="count">
                { fmt.Sprintf("%d", info.Count()) }<span class="count-label">{ helpers.PrLabel(info.Count()) }</span>
            </span>
        </div>
    </div>
}

templ Contributor(info model.ContributorInfo, filters model.FilterSet) {
    {{ contributorURL := filters.WithContributor(info.Name).URL() }}
    <div class={ "item contributor sidebar-card", templ.KV("active", info.Name == filters.Contributor) } hx-get={ templ.SafeURL(contributorURL) } hx-target="main" hx-push-url="true">
        <div class="img-skeleton-wrapper avatar-wrapper">
            <img class="avatar" data-src={ info.AvatarURL } alt={ info.Name + "'s avatar" } loading="lazy"/>
        </div>
        <div class="text">
            <span class="title">{ info.Name }</span>
        </div>
        <div class="meta">
            <span class="age">
                @AgeStr(info.NewestPRAge)
            </span>
            <span class="count">
                { fmt.Sprintf("%d", info.Count()) }<span class="count-label">{ helpers.PrLabel(info.Count()) }</span>
            </span>
        </div>
    </div>
}
