package components

import "merge/internal/views/helpers"

templ Stats(iconClass string, count int, label string) {
	<div class="item stat">
		<p class="bold">{ label }</p>
		<i class={ "status-icon fa-solid " + iconClass }></i>
		<b class="serif">{ helpers.FormatNumber(count) }</b>
	</div>
}
