package components

import "merge/internal/views/helpers"

templ Stats(iconClass string, count int, label string) {
	<span class="stat">
		<i class={ "status-icon fa-solid " + iconClass }></i>
		<b class="count dim">{ helpers.FormatNumber(count) }</b>
		<p>{ label }</p>
	</span>
}
