@use 'variables' as *;

$avatar-size: $spacing-8;

section.contributors {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.contributors-container {
  display: grid;
  grid-template-columns: auto;
  gap: $spacing-2;
  border-radius: $card-border-radius;
  min-height: 0;
  overflow-y: auto;
}

.contributor {
  display: grid;
  grid-template-columns: $avatar-size auto;
  grid-template-rows: auto min-content;
  gap: $spacing-4;
  height: min-content;

  .aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-3;
    // FIXME This extremely hacky
    max-width: 8rem;
  }

  .avatar {
    grid-area: 1 / 1 / span 1 / span 1;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .text {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    row-gap: $spacing-1;
  }

  .title {
    color: $color-brown;
    margin-block: 0;
  }

  .age {
    margin-block: 0;
    color: $color-taupe;
  }

  .counts {
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-3;
    width: min-content;

    & > .stat {
      min-width: unset;
      column-gap: $spacing-2;
      grid-template-columns: repeat(2, min-content);
      grid-template-rows: max-content;

      .status-icon {
          margin-top: calc(#{$status-icon-margin-top-factor} * #{$text-xs});
          font-size: $text-xs;
      }

      b {
        font-size: $text-md;
      }

      &:hover {
        background-color: $color-pearl-cutout;
      }
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .contributors-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $breakpoint-desktop) {
  .contributors-container {
    grid-template-columns: 1fr;
  }

  .contributor {
    grid-template-columns: $avatar-size auto min-content;
    grid-template-rows: auto;
    align-items: center;

    .counts {
      grid-area: 1 / 3 / span 1 / span 1;
      grid-template-columns: repeat(2, 1fr);
      row-gap: $spacing-0;
    }
  }
}
