@use 'variables' as *;
@use 'separator';

section {
    background-color: $color-oat;
    padding: $spacing-3;
    border-radius: calc($card-border-radius + $spacing-1);
}

.section-heading {
    font-size: $text-xxs;
    color: $color-brown;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-label;
    font-weight: $font-weight-bold;
    margin-inline: $spacing-1;
    margin-top: $spacing-2;
    margin-bottom: $spacing-3;
    display: flex;
    justify-content: space-between;

    .buttons {
      display: flex;
      @include separator.dot-separator;
    }
}
