<!DOCTYPE html>
<html>
<head>
	<title>{{.Owner}}/{{.Repo}}</title>
    <link rel="stylesheet" href="/public/main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta name="description" content="{{ .OpenCount }} open pull requests; {{ .StaleCount }} stale pull requests; {{ .ExpiredCount }} expired pull requests"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{.Owner}}/{{.Repo}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{.BaseURL}}/{{.Owner}}/{{.Repo}}"/>
    <meta property="og:description" content="{{ .OpenCount }} open pull requests; {{ .StaleCount }} stale pull requests; {{ .ExpiredCount }} expired pull requests"/>
</head>
<body>
    <header>
        <div class="bar tight">
            <h1 class="title inline"><a href="https://github.com/{{.Owner}}/{{.Repo}}">{{.Owner}}/{{.Repo}}</a></h1>
            <a href="https://github.com/{{.Owner}}/{{.Repo}}/pulls"><i class="dim bi bi-github"></i></a>
        </div>
		<div class="very-dim bar">
            <p><span class="dim">{{ .OpenCount }}</span> open pull requests</p>
            <p><span class="dim">{{ .StaleCount }}</span> stale pull requests</p>
            <p><span class="dim">{{ .ExpiredCount }}</span> expired pull requests</p>
		</div>
    </header>
    <main>
        {{range .PRs}}
        <div class="pull-request{{if .IsDraft}} draft{{end}}">
            <div class="center">
				<i class="status-icon bi {{if .IsExpired}}bi-x-circle error{{else}}{{if .IsStale}}bi-exclamation-triangle warn{{else}}bi-check-circle ok{{end}}{{end}}"></i>
            </div>
            <div class="center-block">
				<b class="title">{{if .IsDraft}}Draft{{else}}Open{{end}}</b>
                <span class="dim">{{.DaysOpen}} days</span>
            </div>
            <div>
				<span>
                    <button class="button-toggle button-inline">
                        <i class="dim bi bi-chevron-down"></i>
                    </button>
					<a href="{{.URL}}"><b class="title">{{.Title}}</b></a>
					<span class="dim"> &nbsp;&middot;&nbsp; #{{.Number}} &nbsp;&middot;&nbsp; <a href="{{.Author.URL}}">{{.Author.Name}}</a></span>
				</span>
                <span class="pr-body dim" style="display: none;">{{.Body}}</span>
            </div>
        </div>
        {{end}}
    </main>
    <script>
        document.querySelectorAll('.button-toggle').forEach(button => {
            button.addEventListener('click', function() {
                const prBody = this.closest('.pull-request').querySelector('.pr-body');
                const hasBody = prBody && prBody.innerHTML.length > 0;

                const icon = this.querySelector('i');

                if (icon.classList.contains('bi-chevron-down')) {
                    icon.classList.replace('bi-chevron-down', 'bi-chevron-up');
                    if (hasBody) {
                        prBody.style.display = 'block';
                    }
                } else {
                    icon.classList.replace('bi-chevron-up', 'bi-chevron-down');
                    if (hasBody) {
                        prBody.style.display = 'none';
                    }
                }
            });
        });
    </script>
</body>
</html>
