<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{.Owner}}/{{.Repo}}</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <meta name="description" content="{{ .OpenCount }} open pull requests; {{ .StaleCount }} stale pull requests; {{ .ExpiredCount }} expired pull requests"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{.Owner}}/{{.Repo}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{.BaseURL}}/{{.Owner}}/{{.Repo}}"/>
    <meta property="og:description" content="{{ .OpenCount }} open pull requests; {{ .StaleCount }} stale pull requests; {{ .ExpiredCount }} expired pull requests"/>
</head>
<body>
    <header>
        <div class="bar tight">
            <h1 class="title inline"><a href="https://github.com/{{.Owner}}/{{.Repo}}">{{.Owner}}/{{.Repo}}</a></h1>
            <a href="https://github.com/{{.Owner}}/{{.Repo}}/pulls" aria-label="Navigate to GitHub"><i class="fa-brands fa-github-alt" aria-hidden="true"></i></a>
        </div>
		<div class="stat-card-container very-dim">
            <span class="card stat-card">
                <i class="fa-solid fa-code-merge special"></i>
                <b class="count dim">{{ .MergedCount }}</b> 
                <p>merged pull requests</p>
            </span>
            <span class="card stat-card">
                <i class="fa-solid fa-apple-whole ok"></i>
                <b class="count dim">{{ .OpenCount }}</b>
                <p>open pull requests</p>
            </span>
            <span class="card stat-card">
                <i class="fa-solid fa-apple-whole warn"></i>
                <b class="count dim">{{ .StaleCount }}</b>
                <p>stale pull requests</p>
            </span>
            <span class="card stat-card">
                <i class="fa-solid fa-recycle error"></i>
                <b class="count dim">{{ .ExpiredCount }}</b>
                <p>expired pull requests</p>
            </span>
		</div>
    </header>
    <main class="grid">
        {{range .PRs}}
        <div class="card pull-request{{if .IsDraft}} draft{{end}}">
            <div class="center-inline">
                <div class="center">
                    <i class="status-icon fa-solid {{if eq .State "Merged"}}fa-code-merge special{{else}}{{if eq .ExpiryStatus "Expired"}}fa-recycle error{{else}}{{if eq .ExpiryStatus "Stale"}}fa-apple-whole warn{{else}}{{if eq .ExpiryStatus "Fresh"}}fa-apple-whole ok{{else}}fa-apple-whole warn{{end}}{{end}}{{end}}{{end}}"></i>
                </div>
                <a href="{{.URL}}"><b class="title">{{markdown .Title}}</b></a>
                <button class="push-right button-toggle button-inline" aria-label="Show Description">
                    <i class="dim fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
            </div>
            <div class="very-dim">
                <span>
                    {{.State}}
                    &nbsp;&middot;&nbsp;
                    {{.DaysOpen}} days {{if eq .State "Merged"}}ago{{else}}old{{end}}
                    &nbsp;&middot;&nbsp;
                    #{{.Number}}
                    &nbsp;&middot;&nbsp;
                    <a href="{{.Author.URL}}">{{.Author.Name}}</a>
                </span>
            </div>
            <span class="pr-body" style="display: none;">{{markdown .Body}}</span>
        </div>
        {{end}}
    </main>
    <script>
        document.querySelectorAll('.button-toggle').forEach(button => {
            button.addEventListener('click', function() {
                const prBody = this.closest('.pull-request').querySelector('.pr-body');
                const hasBody = prBody && prBody.innerHTML.length > 0;

                const icon = this.querySelector('i');

                if (icon.classList.contains('fa-chevron-down')) {
                    icon.classList.replace('fa-chevron-down', 'fa-chevron-up');
                    if (hasBody) {
                        prBody.style.display = 'block';
                    }
                } else {
                    icon.classList.replace('fa-chevron-up', 'fa-chevron-down');
                    if (hasBody) {
                        prBody.style.display = 'none';
                    }
                }
            });
        });
    </script>
</body>
</html>
